// Fonts
$font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
$code-font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;

// Colors
$bg-color: #fff !default;
$fg-color: #222 !default;
$alt-bg-color: #fff !default;
$alt-fg-color: #222 !default;
$link-color: none !default;

// Colors dark
$bg-color-dark: #222 !default;
$fg-color-dark: #fffafa !default;
$alt-bg-color-dark: #222 !default;
$alt-fg-color-dark: #fffafa !default;
$link-color-dark: #42a5f5 !default;
